@model Busskort.Models.BusskortViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPageNormal.cshtml";
}
    <link href="~/Custom/Admin/Index.css" rel="stylesheet" />
    <script src="~/Custom/Admin/Index.js"></script>

<table class="table table-responsive-sm" id="displayDataTable">
    <thead class="table-dark">
        <tr>
            <th scope="col" onclick="sortTable(0)">#</th>
            <th scope="col" onclick="sortTable(1)">Skola</th>
            <th scope="col" onclick="sortTable(2)">Årskurs</th>
            <th scope="col" onclick="sortTable(3)">Personnummer. Barn</th>
            <th scope="col" onclick="sortTable(4)">Barn. Förnamn</th>
            <th scope="col" onclick="sortTable(5)">Barn. Efternamn</th>
            <th scope="col" onclick="sortTable(6)">Vårdnads. Förnamn</th>
            <th scope="col" onclick="sortTable(7)">Vårdnads. Efternamn</th>
            <th scope="col" onclick="sortTable(8)">Vårdnads. Personnr</th>
            <th scope="col" onclick="sortTable(9)">E-post</th>
            <th scope="col" onclick="sortTable(10)">Telefon</th>
            <th scope="col" onclick="sortTable(11)">Adress</th>
            <th scope="col" onclick="sortTable(12)">Ort</th>
            <th scope="col" onclick="sortTable(13)">Postnmr</th>
            <th scope="col" onclick="sortTable(14)">Beviljad</th>
            <th scope="col" onclick="sortTable(15)">Motivering</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="index-tbody">
        @foreach (var item in Model.AnmälanList)
        {

            <tr>
                <td>@item.ID</td>
                <td>@item.Skola</td>
                <td>@item.Årskurs</td>
                <td>@item.barnPersonnummer</td>
                <td>@item.barnFörnamn</td>
                <td>@item.barnEfternamn</td>
                <td>@item.Förnamn</td>
                <td>@item.Efternamn</td>
                <td>@item.FörälderPersonnummer</td>
                <td>@item.E_post</td>
                <td>@item.Telefon</td>
                <td>@item.Adress</td>
                <td>@item.Ort</td>
                <td>@item.Postnummer</td>
                <td> @item.Beviljad</td>
                <td>@item.Motivering</td>
                <td>
                    <form method="post">
                        <button type="submit" formaction="/Admin/Edit/@item.ID" class="btn-info">Edit</button>
                        <button type="submit" formaction="/Admin/Delete/@item.ID" class="btn-danger">Del</button>
                    </form>
                </td>
            </tr>


        }
    </tbody>
</table>

